### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule zatrudnij-junior-developera index.html
RewriteRule kim-jestem kimjestem.html
RewriteRule co-umiem coumiem.html
RewriteRule cv-junior-patryk-grudzien cv.html
RewriteRule kontakt-junior-patryk-grudzien kontakt.html